<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>title</key>
			<string>我的订单</string>
			<key>icon</key>
			<string>caipiao_ _icon_default@2x.png</string>
			<key>actionClassName</key>
			<string>MyOrderListViewController</string>
			<key>ShowIconRight</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>我的收藏</string>
			<key>icon</key>
			<string>collect_ _icon_default@2x.png</string>
			<key>actionClassName</key>
			<string>MyFavoriteViewController</string>
			<key>ShowIconRight</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>积分商城</string>
			<key>icon</key>
			<string>Integral_ _icon_default@2x.png</string>
			<key>actionClassName</key>
			<string>IntegralMallViewController</string>
			<key>ShowIconRight</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>分享</string>
			<key>icon</key>
			<string>share_ _icon_default@2x.png</string>
			<key>actionClassName</key>
			<string>MyShareViewController</string>
			<key>ShowIconRight</key>
			<true/>
		</dict>
	</array>
	<array>
		<dict>
			<key>title</key>
			<string>帮助</string>
			<key>icon</key>
			<string>help_ _icon_default@2x.png</string>
			<key>actionClassName</key>
			<string>MyHelpViewController</string>
			<key>ShowIconRight</key>
			<true/>
		</dict>
		<dict>
			<key>title</key>
			<string>设置</string>
			<key>icon</key>
			<string>install_ _icon_default@2x.png</string>
			<key>actionClassName</key>
			<string>MySettingViewController</string>
			<key>ShowIconRight</key>
			<true/>
		</dict>
	</array>
</array>
</plist>
