<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<array>
		<dict>
			<key>showRedPoint</key>
			<false/>
			<key>needLogin</key>
			<true/>
			<key>title</key>
			<string>我的订单</string>
			<key>icon</key>
			<string>lottery</string>
			<key>actionClassName</key>
			<string>MyOrderListViewController</string>
			<key>ShowIconRight</key>
			<string>1</string>
		</dict>
		<dict>
			<key>showRedPoint</key>
			<false/>
			<key>needLogin</key>
			<true/>
			<key>title</key>
			<string>我的追号</string>
			<key>icon</key>
			<string>zhuihao</string>
			<key>actionClassName</key>
			<string>ZhuiHaoInfoViewController</string>
			<key>ShowIconRight</key>
			<string>1</string>
		</dict>
		<dict>
			<key>showRedPoint</key>
			<false/>
			<key>needLogin</key>
			<true/>
			<key>title</key>
			<string>我的跟单</string>
			<key>icon</key>
			<string>follow</string>
			<key>actionClassName</key>
			<string>MyPostSchemeViewController</string>
			<key>ShowIconRight</key>
			<string>1</string>
		</dict>
		<dict>
			<key>showRedPoint</key>
			<false/>
			<key>title</key>
			<string>我的圈子</string>
			<key>icon</key>
			<string>points</string>
			<key>needLogin</key>
			<true/>
			<key>actionClassName</key>
			<string>MyCircleViewController</string>
			<key>ShowIconRight</key>
			<string>1</string>
		</dict>
		<dict>
			<key>showRedPoint</key>
			<false/>
			<key>needLogin</key>
			<true/>
			<key>title</key>
			<string>我的关注</string>
			<key>icon</key>
			<string>attentionperson</string>
			<key>actionClassName</key>
			<string>MyAttendViewController</string>
			<key>ShowIconRight</key>
			<string>1</string>
		</dict>
		<dict>
			<key>showRedPoint</key>
			<false/>
			<key>needLogin</key>
			<true/>
			<key>ShowIconRight</key>
			<string>1</string>
			<key>actionClassName</key>
			<string>MyRedPacketViewController</string>
			<key>icon</key>
			<string>packet</string>
			<key>title</key>
			<string>我的红包</string>
		</dict>
		<dict>
			<key>showRedPoint</key>
			<false/>
			<key>needLogin</key>
			<true/>
			<key>title</key>
			<string>我的收藏</string>
			<key>icon</key>
			<string>collect</string>
			<key>actionClassName</key>
			<string>MyFavoriteViewController</string>
			<key>ShowIconRight</key>
			<string>1</string>
		</dict>
		<dict>
			<key>showRedPoint</key>
			<false/>
			<key>title</key>
			<string>积分商城</string>
			<key>icon</key>
			<string>points</string>
			<key>needLogin</key>
			<true/>
			<key>actionClassName</key>
			<string>IntegralMallViewController</string>
			<key>ShowIconRight</key>
			<string>1</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>showRedPoint</key>
			<false/>
			<key>needLogin</key>
			<true/>
			<key>title</key>
			<string>邀请好友</string>
			<key>icon</key>
			<string>invite</string>
			<key>actionClassName</key>
			<string>ShareViewController</string>
			<key>ShowIconRight</key>
			<string>0</string>
		</dict>
		<dict>
			<key>showRedPoint</key>
			<false/>
			<key>needLogin</key>
			<true/>
			<key>ShowIconRight</key>
			<string>0</string>
			<key>icon</key>
			<string>tuijianma</string>
			<key>actionClassName</key>
			<string>ConversionCodeViewController</string>
			<key>title</key>
			<string>推荐码</string>
		</dict>
		<dict>
			<key>showRedPoint</key>
			<false/>
			<key>needLogin</key>
			<true/>
			<key>ShowIconRight</key>
			<string>0</string>
			<key>actionClassName</key>
			<string>FeedbackViewController</string>
			<key>icon</key>
			<string>feedback</string>
			<key>title</key>
			<string>意见反馈</string>
		</dict>
	</array>
	<array>
		<dict>
			<key>showRedPoint</key>
			<false/>
			<key>title</key>
			<string>帮助</string>
			<key>needLogin</key>
			<false/>
			<key>icon</key>
			<string>assist</string>
			<key>actionClassName</key>
			<string>MyHelpViewController</string>
			<key>ShowIconRight</key>
			<string>1</string>
		</dict>
		<dict>
			<key>title</key>
			<string>设置</string>
			<key>needLogin</key>
			<true/>
			<key>icon</key>
			<string>set</string>
			<key>actionClassName</key>
			<string>SystemSetViewController</string>
			<key>ShowIconRight</key>
			<string>1</string>
		</dict>
	</array>
</array>
</plist>
