<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>xuhaoImage</key>
		<string>xuhao1.png</string>
		<key>xuanyanOne</key>
		<string>圈主享有分配圈子</string>
		<key>xuanyanTwo</key>
		<string>内的所有销量的</string>
		<key>xuanyanThree</key>
		<string>返点分成</string>
		<key>xuanyanImage</key>
		<string>xutu1.png</string>
	</dict>
	<dict>
		<key>xuhaoImage</key>
		<string>xuhao2.png</string>
		<key>xuanyanOne</key>
		<string>销量返点</string>
		<key>xuanyanTwo</key>
		<string>每单返利</string>
		<key>xuanyanThree</key>
		<string>实时到账</string>
		<key>xuanyanImage</key>
		<string>xutu2.png</string>
	</dict>
	<dict>
		<key>xuhaoImage</key>
		<string>xuhao3.png</string>
		<key>xuanyanOne</key>
		<string>充值优惠</string>
		<key>xuanyanTwo</key>
		<string>中奖加奖</string>
		<key>xuanyanThree</key>
		<string>每单减免</string>
		<key>xuanyanImage</key>
		<string>xutu3.png</string>
	</dict>
</array>
</plist>
