<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>itemTitle</key>
		<string>牛人榜</string>
		<key>itemImage</key>
		<string>fengkuangjingcai</string>
	</dict>
	<dict>
		<key>itemTitle</key>
		<string>红人榜</string>
		<key>itemImage</key>
		<string>yuyuefangan</string>
	</dict>
	<dict>
		<key>itemTitle</key>
		<string>红单榜</string>
		<key>itemImage</key>
		<string>yucezhanji</string>
	</dict>
	<dict>
		<key>itemTitle</key>
		<string>我的关注</string>
		<key>itemImage</key>
		<string>bifenzhibo</string>
	</dict>
</array>
</plist>
