<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>512</key>
	<array>
		<string>512</string>
		<string>307</string>
		<string>100</string>
		<string>406</string>
		<string>403</string>
		<string>400</string>
	</array>
	<key>516</key>
	<array>
		<string>516</string>
		<string>306</string>
		<string>101</string>
		<string>407</string>
		<string>401</string>
		<string>404</string>
	</array>
	<key>528</key>
	<array>
		<string>528</string>
		<string>306</string>
		<string>102</string>
		<string>408</string>
		<string>405</string>
		<string>402</string>
	</array>
	<key>522</key>
	<array>
		<string>522</string>
		<string>304</string>
		<string>102</string>
		<string>408</string>
		<string>405</string>
		<string>402</string>
	</array>
	<key>525</key>
	<array>
		<string>525</string>
		<string>305</string>
		<string>102</string>
		<string>408</string>
		<string>405</string>
		<string>402</string>
	</array>
	<key>514</key>
	<array>
		<string>514</string>
		<string>302</string>
		<string>101</string>
		<string>407</string>
		<string>401</string>
		<string>404</string>
	</array>
	<key>520</key>
	<array>
		<string>520</string>
		<string>303</string>
		<string>102</string>
		<string>408</string>
		<string>405</string>
		<string>402</string>
	</array>
	<key>502</key>
	<array>
		<string>502</string>
		<string>303</string>
		<string>100</string>
		<string>406</string>
		<string>403</string>
		<string>400</string>
	</array>
	<key>501</key>
	<array>
		<string>501</string>
		<string>302</string>
		<string>100</string>
		<string>403</string>
		<string>400</string>
	</array>
	<key>508</key>
	<array>
		<string>508</string>
		<string>306</string>
		<string>100</string>
		<string>406</string>
		<string>403</string>
		<string>400</string>
	</array>
	<key>507</key>
	<array>
		<string>507</string>
		<string>305</string>
		<string>100</string>
		<string>406</string>
		<string>403</string>
		<string>400</string>
	</array>
	<key>506</key>
	<array>
		<string>506</string>
		<string>304</string>
		<string>100</string>
		<string>406</string>
		<string>403</string>
		<string>400</string>
	</array>
	<key>517</key>
	<array>
		<string>517</string>
		<string>307</string>
		<string>101</string>
		<string>407</string>
		<string>401</string>
		<string>404</string>
	</array>
	<key>524</key>
	<array>
		<string>524</string>
		<string>304</string>
		<string>102</string>
		<string>408</string>
		<string>405</string>
		<string>402</string>
	</array>
	<key>515</key>
	<array>
		<string>515</string>
		<string>304</string>
		<string>101</string>
		<string>407</string>
		<string>401</string>
		<string>404</string>
	</array>
	<key>527</key>
	<array>
		<string>527</string>
		<string>305</string>
		<string>102</string>
		<string>408</string>
		<string>405</string>
		<string>402</string>
	</array>
	<key>523</key>
	<array>
		<string>523</string>
		<string>305</string>
		<string>102</string>
		<string>408</string>
		<string>405</string>
		<string>402</string>
	</array>
	<key>526</key>
	<array>
		<string>526</string>
		<string>306</string>
		<string>102</string>
		<string>408</string>
		<string>405</string>
		<string>402</string>
	</array>
	<key>529</key>
	<array>
		<string>529</string>
		<string>307</string>
		<string>102</string>
		<string>408</string>
		<string>405</string>
		<string>402</string>
	</array>
	<key>513</key>
	<array>
		<string>513</string>
		<string>300</string>
		<string>101</string>
		<string>404</string>
	</array>
	<key>518</key>
	<array>
		<string>518</string>
		<string>301</string>
		<string>102</string>
		<string>408</string>
		<string>405</string>
	</array>
	<key>519</key>
	<array>
		<string>519</string>
		<string>302</string>
		<string>102</string>
		<string>408</string>
		<string>405</string>
	</array>
	<key>521</key>
	<array>
		<string>521</string>
		<string>303</string>
		<string>102</string>
		<string>408</string>
		<string>405</string>
		<string>402</string>
	</array>
	<key>500</key>
	<array>
		<string>500</string>
		<string>301</string>
		<string>100</string>
		<string>403</string>
		<string>400</string>
	</array>
	<key>503</key>
	<array>
		<string>503</string>
		<string>303</string>
		<string>100</string>
		<string>406</string>
		<string>403</string>
		<string>400</string>
	</array>
	<key>505</key>
	<array>
		<string>505</string>
		<string>305</string>
		<string>100</string>
		<string>406</string>
		<string>403</string>
		<string>400</string>
	</array>
	<key>504</key>
	<array>
		<string>504</string>
		<string>304</string>
		<string>100</string>
		<string>406</string>
		<string>403</string>
		<string>400</string>
	</array>
	<key>510</key>
	<array>
		<string>510</string>
		<string>306</string>
		<string>100</string>
		<string>406</string>
		<string>403</string>
		<string>400</string>
	</array>
	<key>511</key>
	<array>
		<string>511</string>
		<string>307</string>
		<string>100</string>
		<string>406</string>
		<string>403</string>
		<string>400</string>
	</array>
	<key>530</key>
	<array>
		<string>530</string>
		<string>307</string>
		<string>102</string>
		<string>408</string>
		<string>405</string>
		<string>402</string>
	</array>
	<key>509</key>
	<array>
		<string>509</string>
		<string>305</string>
		<string>100</string>
		<string>406</string>
		<string>403</string>
		<string>400</string>
	</array>
</dict>
</plist>
