<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>312</key>
	<array>
		<string>312</string>
		<string>507</string>
		<string>100</string>
		<string>406</string>
		<string>403</string>
		<string>400</string>
	</array>
	<key>316</key>
	<array>
		<string>316</string>
		<string>506</string>
		<string>101</string>
		<string>407</string>
		<string>401</string>
		<string>404</string>
	</array>
	<key>328</key>
	<array>
		<string>328</string>
		<string>506</string>
		<string>102</string>
		<string>408</string>
		<string>405</string>
		<string>402</string>
	</array>
	<key>322</key>
	<array>
		<string>322</string>
		<string>504</string>
		<string>102</string>
		<string>408</string>
		<string>405</string>
		<string>402</string>
	</array>
	<key>325</key>
	<array>
		<string>325</string>
		<string>505</string>
		<string>102</string>
		<string>408</string>
		<string>405</string>
		<string>402</string>
	</array>
	<key>314</key>
	<array>
		<string>314</string>
		<string>502</string>
		<string>101</string>
		<string>407</string>
		<string>401</string>
		<string>404</string>
	</array>
	<key>320</key>
	<array>
		<string>320</string>
		<string>503</string>
		<string>102</string>
		<string>408</string>
		<string>405</string>
		<string>402</string>
	</array>
	<key>302</key>
	<array>
		<string>302</string>
		<string>503</string>
		<string>100</string>
		<string>406</string>
		<string>403</string>
		<string>400</string>
	</array>
	<key>301</key>
	<array>
		<string>301</string>
		<string>502</string>
		<string>100</string>
		<string>403</string>
		<string>400</string>
	</array>
	<key>308</key>
	<array>
		<string>308</string>
		<string>506</string>
		<string>100</string>
		<string>406</string>
		<string>403</string>
		<string>400</string>
	</array>
	<key>307</key>
	<array>
		<string>307</string>
		<string>505</string>
		<string>100</string>
		<string>406</string>
		<string>403</string>
		<string>400</string>
	</array>
	<key>306</key>
	<array>
		<string>306</string>
		<string>504</string>
		<string>100</string>
		<string>406</string>
		<string>403</string>
		<string>400</string>
	</array>
	<key>317</key>
	<array>
		<string>317</string>
		<string>507</string>
		<string>101</string>
		<string>407</string>
		<string>401</string>
		<string>404</string>
	</array>
	<key>324</key>
	<array>
		<string>324</string>
		<string>504</string>
		<string>102</string>
		<string>408</string>
		<string>405</string>
		<string>402</string>
	</array>
	<key>315</key>
	<array>
		<string>315</string>
		<string>504</string>
		<string>101</string>
		<string>407</string>
		<string>401</string>
		<string>404</string>
	</array>
	<key>327</key>
	<array>
		<string>327</string>
		<string>505</string>
		<string>102</string>
		<string>408</string>
		<string>405</string>
		<string>402</string>
	</array>
	<key>323</key>
	<array>
		<string>323</string>
		<string>505</string>
		<string>102</string>
		<string>408</string>
		<string>405</string>
		<string>402</string>
	</array>
	<key>326</key>
	<array>
		<string>326</string>
		<string>506</string>
		<string>102</string>
		<string>408</string>
		<string>405</string>
		<string>402</string>
	</array>
	<key>329</key>
	<array>
		<string>329</string>
		<string>507</string>
		<string>102</string>
		<string>408</string>
		<string>405</string>
		<string>402</string>
	</array>
	<key>313</key>
	<array>
		<string>313</string>
		<string>500</string>
		<string>101</string>
		<string>404</string>
	</array>
	<key>318</key>
	<array>
		<string>318</string>
		<string>501</string>
		<string>102</string>
		<string>408</string>
		<string>405</string>
	</array>
	<key>319</key>
	<array>
		<string>319</string>
		<string>502</string>
		<string>102</string>
		<string>408</string>
		<string>405</string>
	</array>
	<key>321</key>
	<array>
		<string>321</string>
		<string>503</string>
		<string>102</string>
		<string>408</string>
		<string>405</string>
		<string>402</string>
	</array>
	<key>300</key>
	<array>
		<string>300</string>
		<string>501</string>
		<string>100</string>
		<string>403</string>
		<string>400</string>
	</array>
	<key>303</key>
	<array>
		<string>303</string>
		<string>503</string>
		<string>100</string>
		<string>406</string>
		<string>403</string>
		<string>400</string>
	</array>
	<key>305</key>
	<array>
		<string>305</string>
		<string>505</string>
		<string>100</string>
		<string>406</string>
		<string>403</string>
		<string>400</string>
	</array>
	<key>304</key>
	<array>
		<string>304</string>
		<string>504</string>
		<string>100</string>
		<string>406</string>
		<string>403</string>
		<string>400</string>
	</array>
	<key>310</key>
	<array>
		<string>310</string>
		<string>506</string>
		<string>100</string>
		<string>406</string>
		<string>403</string>
		<string>400</string>
	</array>
	<key>311</key>
	<array>
		<string>311</string>
		<string>507</string>
		<string>100</string>
		<string>406</string>
		<string>403</string>
		<string>400</string>
	</array>
	<key>330</key>
	<array>
		<string>330</string>
		<string>507</string>
		<string>102</string>
		<string>408</string>
		<string>405</string>
		<string>402</string>
	</array>
	<key>309</key>
	<array>
		<string>309</string>
		<string>505</string>
		<string>100</string>
		<string>406</string>
		<string>403</string>
		<string>400</string>
	</array>
</dict>
</plist>
