<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SF</key>
	<array>
		<dict>
			<key>2</key>
			<string>客胜</string>
			<key>code</key>
			<string>100</string>
			<key>appear</key>
			<string>客胜</string>
		</dict>
		<dict>
			<key>1</key>
			<string>主胜</string>
			<key>code</key>
			<string>101</string>
			<key>appear</key>
			<string>主胜</string>
		</dict>
	</array>
	<key>RFSF</key>
	<array>
		<dict>
			<key>2</key>
			<string>让客胜</string>
			<key>code</key>
			<string>200</string>
			<key>appear</key>
			<string>让客胜</string>
		</dict>
		<dict>
			<key>1</key>
			<string>让主胜</string>
			<key>code</key>
			<string>201</string>
			<key>appear</key>
			<string>让主胜</string>
		</dict>
	</array>
	<key>DXF</key>
	<array>
		<dict>
			<key>1</key>
			<string>大</string>
			<key>code</key>
			<string>300</string>
			<key>appear</key>
			<string>大</string>
		</dict>
		<dict>
			<key>2</key>
			<string>小</string>
			<key>code</key>
			<string>301</string>
			<key>appear</key>
			<string>小</string>
		</dict>
	</array>
	<key>SFC</key>
	<array>
		<dict>
			<key>11</key>
			<string>客1-5</string>
			<key>code</key>
			<string>400</string>
			<key>appear</key>
			<string>客1-5</string>
		</dict>
		<dict>
			<key>code</key>
			<string>401</string>
			<key>appear</key>
			<string>客6-10</string>
			<key>12</key>
			<string>客6-10</string>
		</dict>
		<dict>
			<key>code</key>
			<string>402</string>
			<key>appear</key>
			<string>客11-15</string>
			<key>13</key>
			<string>客11-15</string>
		</dict>
		<dict>
			<key>code</key>
			<string>403</string>
			<key>appear</key>
			<string>客16-20</string>
			<key>14</key>
			<string>客16-20</string>
		</dict>
		<dict>
			<key>code</key>
			<string>404</string>
			<key>appear</key>
			<string>客21-25</string>
			<key>15</key>
			<string>客21-25</string>
		</dict>
		<dict>
			<key>code</key>
			<string>405</string>
			<key>appear</key>
			<string>客26+</string>
			<key>16</key>
			<string>客26+</string>
		</dict>
		<dict>
			<key>code</key>
			<string>406</string>
			<key>appear</key>
			<string>主1-5</string>
			<key>01</key>
			<string>主1-5</string>
		</dict>
		<dict>
			<key>code</key>
			<string>407</string>
			<key>appear</key>
			<string>主6-10</string>
			<key>02</key>
			<string>主6-10</string>
		</dict>
		<dict>
			<key>code</key>
			<string>408</string>
			<key>appear</key>
			<string>主11-15</string>
			<key>03</key>
			<string>主11-15</string>
		</dict>
		<dict>
			<key>code</key>
			<string>409</string>
			<key>appear</key>
			<string>主16-20</string>
			<key>04</key>
			<string>主16-20</string>
		</dict>
		<dict>
			<key>code</key>
			<string>410</string>
			<key>appear</key>
			<string>主21-25</string>
			<key>05</key>
			<string>主21-25</string>
		</dict>
		<dict>
			<key>code</key>
			<string>411</string>
			<key>appear</key>
			<string>主26+</string>
			<key>06</key>
			<string>主26+</string>
		</dict>
	</array>
</dict>
</plist>
