<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>RQSPF</key>
	<dict>
		<key>200</key>
		<dict>
			<key>code</key>
			<string>0</string>
			<key>appear</key>
			<string>让球胜</string>
			<key>3</key>
			<string>让球胜</string>
		</dict>
		<key>201</key>
		<dict>
			<key>code</key>
			<string>1</string>
			<key>appear</key>
			<string>让球平</string>
			<key>1</key>
			<string>让球平</string>
		</dict>
		<key>202</key>
		<dict>
			<key>code</key>
			<string>2</string>
			<key>appear</key>
			<string>让球负</string>
			<key>0</key>
			<string>让球负</string>
		</dict>
	</dict>
	<key>JQS</key>
	<dict>
		<key>300</key>
		<dict>
			<key>code</key>
			<string>0</string>
			<key>appear</key>
			<string>0球</string>
			<key>0</key>
			<string>0球</string>
		</dict>
		<key>301</key>
		<dict>
			<key>code</key>
			<string>1</string>
			<key>appear</key>
			<string>1球</string>
			<key>1</key>
			<string>1球</string>
		</dict>
		<key>302</key>
		<dict>
			<key>code</key>
			<string>2</string>
			<key>appear</key>
			<string>2球</string>
			<key>2</key>
			<string>2球</string>
		</dict>
		<key>303</key>
		<dict>
			<key>code</key>
			<string>3</string>
			<key>appear</key>
			<string>3球</string>
			<key>3</key>
			<string>3球</string>
		</dict>
		<key>304</key>
		<dict>
			<key>code</key>
			<string>4</string>
			<key>appear</key>
			<string>4球</string>
			<key>4</key>
			<string>4球</string>
		</dict>
		<key>305</key>
		<dict>
			<key>code</key>
			<string>5</string>
			<key>appear</key>
			<string>5球</string>
			<key>5</key>
			<string>5球</string>
		</dict>
		<key>306</key>
		<dict>
			<key>code</key>
			<string>6</string>
			<key>appear</key>
			<string>6球</string>
			<key>6</key>
			<string>6球</string>
		</dict>
		<key>307</key>
		<dict>
			<key>code</key>
			<string>7</string>
			<key>appear</key>
			<string>7+球</string>
			<key>7</key>
			<string>7+球</string>
		</dict>
	</dict>
	<key>SPF</key>
	<dict>
		<key>100</key>
		<dict>
			<key>code</key>
			<string>0</string>
			<key>appear</key>
			<string>主胜</string>
			<key>3</key>
			<string>主胜</string>
		</dict>
		<key>101</key>
		<dict>
			<key>code</key>
			<string>1</string>
			<key>appear</key>
			<string>平</string>
			<key>1</key>
			<string>平</string>
		</dict>
		<key>102</key>
		<dict>
			<key>code</key>
			<string>2</string>
			<key>appear</key>
			<string>主负</string>
			<key>0</key>
			<string>主负</string>
		</dict>
	</dict>
	<key>BQC</key>
	<dict>
		<key>400</key>
		<dict>
			<key>code</key>
			<string>0</string>
			<key>appear</key>
			<string>胜胜</string>
			<key>33</key>
			<string>胜胜</string>
		</dict>
		<key>401</key>
		<dict>
			<key>code</key>
			<string>1</string>
			<key>appear</key>
			<string>胜平</string>
			<key>31</key>
			<string>胜平</string>
		</dict>
		<key>402</key>
		<dict>
			<key>code</key>
			<string>2</string>
			<key>appear</key>
			<string>胜负</string>
			<key>30</key>
			<string>胜负</string>
		</dict>
		<key>403</key>
		<dict>
			<key>code</key>
			<string>3</string>
			<key>appear</key>
			<string>平胜</string>
			<key>13</key>
			<string>平胜</string>
		</dict>
		<key>404</key>
		<dict>
			<key>code</key>
			<string>4</string>
			<key>appear</key>
			<string>平平</string>
			<key>11</key>
			<string>平平</string>
		</dict>
		<key>405</key>
		<dict>
			<key>code</key>
			<string>5</string>
			<key>appear</key>
			<string>平负</string>
			<key>10</key>
			<string>平负</string>
		</dict>
		<key>406</key>
		<dict>
			<key>code</key>
			<string>6</string>
			<key>appear</key>
			<string>负胜</string>
			<key>03</key>
			<string>负胜</string>
		</dict>
		<key>407</key>
		<dict>
			<key>code</key>
			<string>7</string>
			<key>appear</key>
			<string>负平</string>
			<key>01</key>
			<string>负平</string>
		</dict>
		<key>408</key>
		<dict>
			<key>code</key>
			<string>8</string>
			<key>appear</key>
			<string>负负</string>
			<key>00</key>
			<string>负负</string>
		</dict>
	</dict>
	<key>BF</key>
	<dict>
		<key>500</key>
		<dict>
			<key>code</key>
			<string>0</string>
			<key>appear</key>
			<string>1:0</string>
			<key>10</key>
			<string>1:0</string>
		</dict>
		<key>501</key>
		<dict>
			<key>code</key>
			<string>1</string>
			<key>appear</key>
			<string>2:0</string>
			<key>20</key>
			<string>2:0</string>
		</dict>
		<key>502</key>
		<dict>
			<key>code</key>
			<string>2</string>
			<key>appear</key>
			<string>2:1</string>
			<key>21</key>
			<string>2:1</string>
		</dict>
		<key>503</key>
		<dict>
			<key>code</key>
			<string>3</string>
			<key>appear</key>
			<string>3:0</string>
			<key>30</key>
			<string>3:0</string>
		</dict>
		<key>504</key>
		<dict>
			<key>code</key>
			<string>4</string>
			<key>appear</key>
			<string>3:1</string>
			<key>31</key>
			<string>3:1</string>
		</dict>
		<key>505</key>
		<dict>
			<key>code</key>
			<string>5</string>
			<key>appear</key>
			<string>3:2</string>
			<key>32</key>
			<string>3:2</string>
		</dict>
		<key>506</key>
		<dict>
			<key>code</key>
			<string>6</string>
			<key>appear</key>
			<string>4:0</string>
			<key>40</key>
			<string>4:0</string>
		</dict>
		<key>507</key>
		<dict>
			<key>code</key>
			<string>7</string>
			<key>appear</key>
			<string>4:1</string>
			<key>41</key>
			<string>4:1</string>
		</dict>
		<key>508</key>
		<dict>
			<key>code</key>
			<string>8</string>
			<key>appear</key>
			<string>4:2</string>
			<key>42</key>
			<string>4:2</string>
		</dict>
		<key>509</key>
		<dict>
			<key>code</key>
			<string>9</string>
			<key>appear</key>
			<string>5:0</string>
			<key>50</key>
			<string>5:0</string>
		</dict>
		<key>510</key>
		<dict>
			<key>code</key>
			<string>10</string>
			<key>appear</key>
			<string>5:1</string>
			<key>51</key>
			<string>5:1</string>
		</dict>
		<key>511</key>
		<dict>
			<key>code</key>
			<string>11</string>
			<key>appear</key>
			<string>5:2</string>
			<key>52</key>
			<string>5:2</string>
		</dict>
		<key>512</key>
		<dict>
			<key>code</key>
			<string>12</string>
			<key>appear</key>
			<string>胜其它</string>
			<key>90</key>
			<string>胜其它</string>
		</dict>
		<key>513</key>
		<dict>
			<key>code</key>
			<string>13</string>
			<key>appear</key>
			<string>0:0</string>
			<key>00</key>
			<string>0:0</string>
		</dict>
		<key>514</key>
		<dict>
			<key>code</key>
			<string>14</string>
			<key>appear</key>
			<string>1:1</string>
			<key>11</key>
			<string>1:1</string>
		</dict>
		<key>515</key>
		<dict>
			<key>code</key>
			<string>15</string>
			<key>appear</key>
			<string>2:2</string>
			<key>22</key>
			<string>2:2</string>
		</dict>
		<key>516</key>
		<dict>
			<key>code</key>
			<string>16</string>
			<key>appear</key>
			<string>3:3</string>
			<key>33</key>
			<string>3:3</string>
		</dict>
		<key>517</key>
		<dict>
			<key>code</key>
			<string>17</string>
			<key>appear</key>
			<string>平其它</string>
			<key>99</key>
			<string>平其它</string>
		</dict>
		<key>518</key>
		<dict>
			<key>code</key>
			<string>18</string>
			<key>appear</key>
			<string>0:1</string>
			<key>01</key>
			<string>0:1</string>
		</dict>
		<key>519</key>
		<dict>
			<key>code</key>
			<string>19</string>
			<key>appear</key>
			<string>0:2</string>
			<key>02</key>
			<string>0:2</string>
		</dict>
		<key>520</key>
		<dict>
			<key>code</key>
			<string>20</string>
			<key>appear</key>
			<string>1:2</string>
			<key>12</key>
			<string>1:2</string>
		</dict>
		<key>521</key>
		<dict>
			<key>code</key>
			<string>21</string>
			<key>appear</key>
			<string>0:3</string>
			<key>03</key>
			<string>0:3</string>
		</dict>
		<key>522</key>
		<dict>
			<key>code</key>
			<string>22</string>
			<key>appear</key>
			<string>1:3</string>
			<key>13</key>
			<string>1:3</string>
		</dict>
		<key>523</key>
		<dict>
			<key>code</key>
			<string>23</string>
			<key>appear</key>
			<string>2:3</string>
			<key>23</key>
			<string>2:3</string>
		</dict>
		<key>524</key>
		<dict>
			<key>code</key>
			<string>24</string>
			<key>appear</key>
			<string>0:4</string>
			<key>04</key>
			<string>0:4</string>
		</dict>
		<key>525</key>
		<dict>
			<key>code</key>
			<string>25</string>
			<key>appear</key>
			<string>1:4</string>
			<key>14</key>
			<string>1:4</string>
		</dict>
		<key>526</key>
		<dict>
			<key>code</key>
			<string>26</string>
			<key>appear</key>
			<string>2:4</string>
			<key>24</key>
			<string>2:4</string>
		</dict>
		<key>527</key>
		<dict>
			<key>code</key>
			<string>27</string>
			<key>appear</key>
			<string>0:5</string>
			<key>05</key>
			<string>0:5</string>
		</dict>
		<key>528</key>
		<dict>
			<key>code</key>
			<string>28</string>
			<key>appear</key>
			<string>1:5</string>
			<key>15</key>
			<string>1:5</string>
		</dict>
		<key>529</key>
		<dict>
			<key>code</key>
			<string>29</string>
			<key>appear</key>
			<string>2:5</string>
			<key>25</key>
			<string>2:5</string>
		</dict>
		<key>530</key>
		<dict>
			<key>code</key>
			<string>30</string>
			<key>appear</key>
			<string>负其它</string>
			<key>09</key>
			<string>负其它</string>
		</dict>
	</dict>
</dict>
</plist>
