<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>陕11选5</string>
		<key>Identifier</key>
		<string>X115</string>
		<key>NeedSectionRandom</key>
		<true/>
		<key>Desc</key>
		<string>2元赢取1170元</string>
		<key>AvatarPictureName</key>
		<string>11xuan5.png</string>
		<key>Active</key>
		<true/>
		<key>Type</key>
		<string>4</string>
		<key>RuleDesc</key>
		<string>至少选择两个7个号码</string>
		<key>DanTuo</key>
		<true/>
		<key>DateSectionLinkSymbol</key>
		<string>;</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>竞彩足球</string>
		<key>Identifier</key>
		<string>JCZQ</string>
		<key>NeedSectionRandom</key>
		<false/>
		<key>Desc</key>
		<string>2元赢取100万</string>
		<key>AvatarPictureName</key>
		<string>jczq.png</string>
		<key>Active</key>
		<true/>
		<key>Type</key>
		<string>9</string>
		<key>RuleDesc</key>
		<string>至少选择两个7个号码</string>
		<key>DanTuo</key>
		<true/>
		<key>DateSectionLinkSymbol</key>
		<string>$</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>大乐透</string>
		<key>Identifier</key>
		<string>DLT</string>
		<key>NeedSectionRandom</key>
		<true/>
		<key>Desc</key>
		<string>2元赢取500万</string>
		<key>AvatarPictureName</key>
		<string>daletou.png</string>
		<key>Active</key>
		<true/>
		<key>DanTuo</key>
		<true/>
		<key>Type</key>
		<string>0</string>
		<key>RuleDesc</key>
		<string>至少选择五个红球两个蓝球</string>
		<key>DateSectionLinkSymbol</key>
		<string>;</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>七星彩</string>
		<key>Identifier</key>
		<string>xc7</string>
		<key>NeedSectionRandom</key>
		<false/>
		<key>Desc</key>
		<string>2元赢取500万</string>
		<key>AvatarPictureName</key>
		<string>qixingcai.png</string>
		<key>Active</key>
		<true/>
		<key>Type</key>
		<string>1001</string>
		<key>DanTuo</key>
		<false/>
		<key>DateSectionLinkSymbol</key>
		<string>#</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>排列3</string>
		<key>Identifier</key>
		<string>PL3</string>
		<key>NeedSectionRandom</key>
		<false/>
		<key>Desc</key>
		<string>2元赢取1000元</string>
		<key>AvatarPictureName</key>
		<string>pailie3.png</string>
		<key>Active</key>
		<true/>
		<key>Type</key>
		<string>2</string>
		<key>RuleDesc</key>
		<string>至少选择两个7个号码</string>
		<key>DanTuo</key>
		<true/>
		<key>DateSectionLinkSymbol</key>
		<string>$</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>排列5</string>
		<key>Identifier</key>
		<string>PL5</string>
		<key>NeedSectionRandom</key>
		<false/>
		<key>Desc</key>
		<string>2元赢取10万</string>
		<key>AvatarPictureName</key>
		<string>pailie5.png</string>
		<key>Active</key>
		<true/>
		<key>Type</key>
		<string>3</string>
		<key>RuleDesc</key>
		<string>每区至少选择一个号码</string>
		<key>DanTuo</key>
		<false/>
		<key>DateSectionLinkSymbol</key>
		<string>$</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>竞彩篮球</string>
		<key>Identifier</key>
		<string>JCLQ</string>
		<key>NeedSectionRandom</key>
		<false/>
		<key>Desc</key>
		<string>2元赢取100万</string>
		<key>AvatarPictureName</key>
		<string>jclq_icon.png</string>
		<key>Active</key>
		<true/>
		<key>Type</key>
		<string>5</string>
		<key>RuleDesc</key>
		<string>至少选择两个7个号码</string>
		<key>DanTuo</key>
		<true/>
		<key>DateSectionLinkSymbol</key>
		<string>$</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>任选9场</string>
		<key>Identifier</key>
		<string>RJC</string>
		<key>NeedSectionRandom</key>
		<false/>
		<key>Desc</key>
		<string></string>
		<key>AvatarPictureName</key>
		<string>rjc.png</string>
		<key>Active</key>
		<true/>
		<key>Type</key>
		<string>7</string>
		<key>RuleDesc</key>
		<string></string>
		<key>DanTuo</key>
		<true/>
		<key>DateSectionLinkSymbol</key>
		<string>$</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>胜负14场</string>
		<key>Identifier</key>
		<string>SFC</string>
		<key>NeedSectionRandom</key>
		<false/>
		<key>Desc</key>
		<string></string>
		<key>AvatarPictureName</key>
		<string>sfc.png</string>
		<key>Active</key>
		<true/>
		<key>Type</key>
		<string>8</string>
		<key>RuleDesc</key>
		<string></string>
		<key>DanTuo</key>
		<true/>
		<key>DateSectionLinkSymbol</key>
		<string>$</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>冠军</string>
		<key>Identifier</key>
		<string>JCGJ</string>
		<key>NeedSectionRandom</key>
		<false/>
		<key>Desc</key>
		<string></string>
		<key>AvatarPictureName</key>
		<string>champion.png</string>
		<key>Active</key>
		<true/>
		<key>Type</key>
		<string>11</string>
		<key>RuleDesc</key>
		<string></string>
		<key>DanTuo</key>
		<true/>
		<key>DateSectionLinkSymbol</key>
		<string>$</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>冠亚军</string>
		<key>Identifier</key>
		<string>JCGYJ</string>
		<key>NeedSectionRandom</key>
		<false/>
		<key>Desc</key>
		<string></string>
		<key>AvatarPictureName</key>
		<string>Championship.png</string>
		<key>Active</key>
		<true/>
		<key>Type</key>
		<string>12</string>
		<key>RuleDesc</key>
		<string></string>
		<key>DanTuo</key>
		<true/>
		<key>DateSectionLinkSymbol</key>
		<string>$</string>
	</dict>
</array>
</plist>
