<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>lotteryImageName</key>
		<string>jingzu.png</string>
		<key>lotteryName</key>
		<string>竞彩足球</string>
		<key>lotteryInfo</key>
		<string>热门赛事竞猜</string>
	</dict>
	<dict>
		<key>lotteryImageName</key>
		<string>jinglan.png</string>
		<key>lotteryName</key>
		<string>竞彩篮球</string>
		<key>lotteryInfo</key>
		<string>玩转NBA赛事</string>
	</dict>
	<dict>
		<key>lotteryImageName</key>
		<string>shengfucaishouye.png</string>
		<key>lotteryName</key>
		<string>胜负彩</string>
		<key>lotteryInfo</key>
		<string>猜14场比赛赢大奖</string>
	</dict>
	<dict>
		<key>lotteryImageName</key>
		<string>daletoushouye.png</string>
		<key>lotteryName</key>
		<string>大乐透</string>
		<key>lotteryInfo</key>
		<string>奖金高达1600万</string>
	</dict>
	<dict>
		<key>lotteryImageName</key>
		<string>shuangseqiu.png</string>
		<key>lotteryName</key>
		<string>双色球</string>
		<key>lotteryInfo</key>
		<string>奖金高达1000万</string>
	</dict>
	<dict>
		<key>lotteryImageName</key>
		<string>guanyajun.png</string>
		<key>lotteryName</key>
		<string>冠亚军</string>
		<key>lotteryInfo</key>
		<string>世界杯冠亚军竞猜</string>
	</dict>
	<dict>
		<key>lotteryImageName</key>
		<string>pai3.png</string>
		<key>lotteryName</key>
		<string>排列3</string>
		<key>lotteryInfo</key>
		<string>暂停销售</string>
	</dict>
	<dict>
		<key>lotteryImageName</key>
		<string>paiwu.png</string>
		<key>lotteryName</key>
		<string>排列5</string>
		<key>lotteryInfo</key>
		<string>暂停销售</string>
	</dict>
	<dict>
		<key>lotteryImageName</key>
		<string>shiyixuanwu.png</string>
		<key>lotteryName</key>
		<string>十一选五</string>
		<key>lotteryInfo</key>
		<string>暂停销售</string>
	</dict>
	<dict>
		<key>lotteryImageName</key>
		<string>3d.png</string>
		<key>lotteryName</key>
		<string>福彩3D</string>
		<key>lotteryInfo</key>
		<string>暂停销售</string>
	</dict>
</array>
</plist>
