<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>陕西11选5</string>
		<key>icon</key>
		<string>11xuan5.png</string>
		<key>Type</key>
		<string>4</string>
		<key>tabs</key>
		<array>
			<dict>
				<key>title</key>
				<string>简介</string>
				<key>fileName</key>
				<string>11xuan5_intro</string>
			</dict>
			<dict>
				<key>title</key>
				<string>玩法</string>
				<key>fileName</key>
				<string>11xuan5_howto</string>
			</dict>
			<dict>
				<key>title</key>
				<string>奖项</string>
				<key>fileName</key>
				<string>11xuan5_bonus</string>
			</dict>
			<dict>
				<key>title</key>
				<string>规则</string>
				<key>fileName</key>
				<string>11xuan5_rule</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>竞彩足球</string>
		<key>icon</key>
		<string>jczq.png</string>
		<key>Type</key>
		<string>9</string>
		<key>tabs</key>
		<array>
			<dict>
				<key>title</key>
				<string>胜平负</string>
				<key>fileName</key>
				<string>jingcaizuqiu_shengpingfu</string>
			</dict>
			<dict>
				<key>title</key>
				<string>让球胜平负</string>
				<key>fileName</key>
				<string>jingcaizuqiu_rangqiushengpingfu</string>
			</dict>
			<dict>
				<key>title</key>
				<string>总进球数</string>
				<key>fileName</key>
				<string>jingcaizuqiu_zongjinqiushu</string>
			</dict>
			<dict>
				<key>title</key>
				<string>半全场</string>
				<key>fileName</key>
				<string>jingcaizuqiu_banquanchang</string>
			</dict>
			<dict>
				<key>title</key>
				<string>比分</string>
				<key>fileName</key>
				<string>jingcaizuqiu_bifen</string>
			</dict>
			<dict>
				<key>title</key>
				<string>混合过关</string>
				<key>fileName</key>
				<string>jingcaizuqiu_hunheguoguan</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>大乐透</string>
		<key>icon</key>
		<string>daletou_small.png</string>
		<key>Type</key>
		<string>1000</string>
		<key>tabs</key>
		<array>
			<dict>
				<key>title</key>
				<string>简介</string>
				<key>fileName</key>
				<string>daletou_intro</string>
			</dict>
			<dict>
				<key>title</key>
				<string>玩法</string>
				<key>fileName</key>
				<string>daletou_howto</string>
			</dict>
			<dict>
				<key>title</key>
				<string>奖项</string>
				<key>fileName</key>
				<string>daletou_bonus</string>
			</dict>
			<dict>
				<key>title</key>
				<string>规则</string>
				<key>fileName</key>
				<string>daletou_rule</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>七星彩</string>
		<key>icon</key>
		<string>qixingcai_small.png</string>
		<key>Type</key>
		<string>1001</string>
		<key>tabs</key>
		<array>
			<dict>
				<key>title</key>
				<string>简介</string>
				<key>fileName</key>
				<string>qixingcai_intro</string>
			</dict>
			<dict>
				<key>title</key>
				<string>玩法</string>
				<key>fileName</key>
				<string>qixingcai_howto</string>
			</dict>
			<dict>
				<key>title</key>
				<string>奖项</string>
				<key>fileName</key>
				<string>qixingcai_bonus</string>
			</dict>
			<dict>
				<key>title</key>
				<string>规则</string>
				<key>fileName</key>
				<string>qixingcai_rule</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>排列3</string>
		<key>icon</key>
		<string>pailie3_small.png</string>
		<key>Type</key>
		<string>1002</string>
		<key>tabs</key>
		<array>
			<dict>
				<key>title</key>
				<string>简介</string>
				<key>fileName</key>
				<string>pailie3_intro</string>
			</dict>
			<dict>
				<key>title</key>
				<string>玩法</string>
				<key>fileName</key>
				<string>pailie3_howto</string>
			</dict>
			<dict>
				<key>title</key>
				<string>奖项</string>
				<key>fileName</key>
				<string>pailie3_bonus</string>
			</dict>
			<dict>
				<key>title</key>
				<string>规则</string>
				<key>fileName</key>
				<string>pailie3_rule</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>排列5</string>
		<key>icon</key>
		<string>pailie5_small.png</string>
		<key>Type</key>
		<string>1003</string>
		<key>tabs</key>
		<array>
			<dict>
				<key>title</key>
				<string>简介</string>
				<key>fileName</key>
				<string>pailie5_intro</string>
			</dict>
			<dict>
				<key>title</key>
				<string>玩法</string>
				<key>fileName</key>
				<string>pailie5_howto</string>
			</dict>
			<dict>
				<key>title</key>
				<string>奖项</string>
				<key>fileName</key>
				<string>pailie5_bonus</string>
			</dict>
			<dict>
				<key>title</key>
				<string>规则</string>
				<key>fileName</key>
				<string>pailie5_rule</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>胜负彩</string>
		<key>icon</key>
		<string>zq.png</string>
		<key>identifier</key>
		<string>zuqiucaipiao</string>
		<key>Type</key>
		<string>1005</string>
		<key>tabs</key>
		<array>
			<dict>
				<key>title</key>
				<string>任选9场</string>
				<key>fileName</key>
				<string>ctzq_renxuanjiuchang</string>
			</dict>
			<dict>
				<key>title</key>
				<string>胜负14场</string>
				<key>fileName</key>
				<string>ctzq_shengfushisichang</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>竞彩篮球</string>
		<key>icon</key>
		<string>jclq_small.png</string>
		<key>Type</key>
		<string>5</string>
		<key>tabs</key>
		<array>
			<dict>
				<key>title</key>
				<string>好运多多，大奖多多</string>
				<key>fileName</key>
				<string>jingcailanqiu</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>冠军</string>
		<key>icon</key>
		<string>Championship.png</string>
		<key>Type</key>
		<string>10007</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>冠亚军</string>
		<key>icon</key>
		<string>Championship.png</string>
		<key>Type</key>
		<string>10008</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>双色球</string>
		<key>icon</key>
		<string>shuangseqiu.png</string>
		<key>Type</key>
		<string>1010</string>
		<key>tabs</key>
		<array>
			<dict>
				<key>title</key>
				<string>简介</string>
				<key>fileName</key>
				<string>daletou_intro</string>
			</dict>
			<dict>
				<key>title</key>
				<string>玩法</string>
				<key>fileName</key>
				<string>daletou_howto</string>
			</dict>
			<dict>
				<key>title</key>
				<string>奖项</string>
				<key>fileName</key>
				<string>daletou_bonus</string>
			</dict>
			<dict>
				<key>title</key>
				<string>规则</string>
				<key>fileName</key>
				<string>daletou_rule</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>山东11选5</string>
		<key>icon</key>
		<string>11xuan5.png</string>
		<key>Type</key>
		<string>14</string>
		<key>tabs</key>
		<array>
			<dict>
				<key>title</key>
				<string>简介</string>
				<key>fileName</key>
				<string>11xuan5_intro</string>
			</dict>
			<dict>
				<key>title</key>
				<string>玩法</string>
				<key>fileName</key>
				<string>11xuan5_howto</string>
			</dict>
			<dict>
				<key>title</key>
				<string>奖项</string>
				<key>fileName</key>
				<string>11xuan5_bonus</string>
			</dict>
			<dict>
				<key>title</key>
				<string>规则</string>
				<key>fileName</key>
				<string>11xuan5_rule</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
