<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>lotteryImageName</key>
		<string>jingzu.png</string>
		<key>enable</key>
		<true/>
		<key>lottery</key>
		<string>JCZQ</string>
		<key>lotteryName</key>
		<string>竞彩足球</string>
		<key>lotteryInfo</key>
		<string>热门赛事竞猜</string>
	</dict>
	<dict>
		<key>lotteryImageName</key>
		<string>jingzudanguan</string>
		<key>enable</key>
		<true/>
		<key>lotteryName</key>
		<string>竞足单关</string>
		<key>lottery</key>
		<string>JCZQDG</string>
		<key>lotteryInfo</key>
		<string>热门赛事竞猜</string>
	</dict>
	<dict>
		<key>lotteryImageName</key>
		<string>jinglan.png</string>
		<key>enable</key>
		<true/>
		<key>lottery</key>
		<string>JCLQ</string>
		<key>lotteryName</key>
		<string>竞彩篮球</string>
		<key>lotteryInfo</key>
		<string>玩转NBA赛事</string>
	</dict>
	<dict>
		<key>lotteryImageName</key>
		<string>shiyixuanwu.png</string>
		<key>lotteryName</key>
		<string>11选5</string>
		<key>enable</key>
		<true/>
		<key>lottery</key>
		<string>SX115</string>
		<key>lotteryInfo</key>
		<string>暂停销售</string>
	</dict>
	<dict>
		<key>lotteryImageName</key>
		<string>daletoushouye.png</string>
		<key>enable</key>
		<true/>
		<key>lottery</key>
		<string>DLT</string>
		<key>lotteryName</key>
		<string>大乐透</string>
		<key>lotteryInfo</key>
		<string>奖金高达1600万</string>
	</dict>
	<dict>
		<key>lotteryImageName</key>
		<string>shuangseqiu.png</string>
		<key>enable</key>
		<true/>
		<key>lotteryName</key>
		<string>双色球</string>
		<key>lottery</key>
		<string>SSQ</string>
		<key>lotteryInfo</key>
		<string>奖金高达1000万</string>
	</dict>
	<dict>
		<key>lotteryImageName</key>
		<string>guanyajun.png</string>
		<key>enable</key>
		<true/>
		<key>lotteryName</key>
		<string>冠亚军</string>
		<key>lottery</key>
		<string>GYJ</string>
		<key>lotteryInfo</key>
		<string>世界杯冠亚军竞猜</string>
	</dict>
	<dict>
		<key>lotteryImageName</key>
		<string>shengfucaishouye.png</string>
		<key>enable</key>
		<true/>
		<key>lottery</key>
		<string>SFC</string>
		<key>lotteryName</key>
		<string>胜负彩</string>
		<key>lotteryInfo</key>
		<string>猜14场比赛赢大奖</string>
	</dict>
	<dict>
		<key>lotteryImageName</key>
		<string>sdx115.png</string>
		<key>lotteryName</key>
		<string>山东11选5</string>
		<key>enable</key>
		<true/>
		<key>lottery</key>
		<string>SD115</string>
		<key>lotteryInfo</key>
		<string>暂停销售</string>
	</dict>
	<dict>
		<key>lotteryImageName</key>
		<string>pai3.png</string>
		<key>enable</key>
		<true/>
		<key>lotteryName</key>
		<string>排列3</string>
		<key>lottery</key>
		<string>PL3</string>
		<key>lotteryInfo</key>
		<string>暂停销售</string>
	</dict>
	<dict>
		<key>lotteryImageName</key>
		<string>paiwu.png</string>
		<key>lottery</key>
		<string>PL5</string>
		<key>enable</key>
		<true/>
		<key>lotteryName</key>
		<string>排列5</string>
		<key>lotteryInfo</key>
		<string>暂停销售</string>
	</dict>
	<dict>
		<key>lotteryImageName</key>
		<string>3d.png</string>
		<key>enable</key>
		<true/>
		<key>FC3D</key>
		<string>JCZQ</string>
		<key>lotteryName</key>
		<string>福彩3D</string>
		<key>lotteryInfo</key>
		<string>暂停销售</string>
	</dict>
</array>
</plist>
