<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>jclq</key>
	<array>
		<dict>
			<key>BetCalculation</key>
			<string>500</string>
			<key>ProfileID</key>
			<string>1</string>
			<key>Desc</key>
			<string>JCLQSF</string>
			<key>Amount</key>
			<string>8</string>
			<key>Title</key>
			<string>胜负</string>
			<key>Percentage</key>
			<string>0</string>
			<key>CouldRepeat</key>
			<true/>
			<key>CouldRepeatSelect</key>
			<true/>
		</dict>
		<dict>
			<key>BetCalculation</key>
			<string>500</string>
			<key>ProfileID</key>
			<string>2</string>
			<key>Desc</key>
			<string>JCLQRFSF</string>
			<key>Amount</key>
			<string>8</string>
			<key>Title</key>
			<string>让分胜负</string>
			<key>Percentage</key>
			<string>0</string>
			<key>CouldRepeat</key>
			<true/>
			<key>CouldRepeatSelect</key>
			<true/>
		</dict>
		<dict>
			<key>BetCalculation</key>
			<string>500</string>
			<key>ProfileID</key>
			<string>3</string>
			<key>Desc</key>
			<string>JCLQSFC</string>
			<key>Amount</key>
			<string>4</string>
			<key>Title</key>
			<string>胜分差</string>
			<key>Percentage</key>
			<string>0</string>
			<key>CouldRepeat</key>
			<true/>
			<key>CouldRepeatSelect</key>
			<true/>
		</dict>
		<dict>
			<key>BetCalculation</key>
			<string>500</string>
			<key>ProfileID</key>
			<string>4</string>
			<key>Desc</key>
			<string>JCLQDXF</string>
			<key>Amount</key>
			<string>4</string>
			<key>Title</key>
			<string>大小分</string>
			<key>Percentage</key>
			<string>0</string>
			<key>CouldRepeat</key>
			<true/>
			<key>CouldRepeatSelect</key>
			<true/>
		</dict>
		<dict>
			<key>BetCalculation</key>
			<string>500</string>
			<key>ProfileID</key>
			<string>5</string>
			<key>Desc</key>
			<string>JCLQHHGG</string>
			<key>Amount</key>
			<string>4</string>
			<key>Title</key>
			<string>混合过关</string>
			<key>Percentage</key>
			<string>0</string>
			<key>CouldRepeat</key>
			<true/>
			<key>CouldRepeatSelect</key>
			<true/>
		</dict>
		<dict>
			<key>BetCalculation</key>
			<string>500</string>
			<key>ProfileID</key>
			<string>4</string>
			<key>Desc</key>
			<string>nil</string>
			<key>Amount</key>
			<string>4</string>
			<key>Title</key>
			<string>占位</string>
			<key>Percentage</key>
			<string>0</string>
			<key>CouldRepeat</key>
			<true/>
			<key>CouldRepeatSelect</key>
			<true/>
		</dict>
	</array>
	<key>jczq</key>
	<array>
		<dict>
			<key>ProfileID</key>
			<string>1</string>
			<key>Desc</key>
			<string>SPF</string>
			<key>Amount</key>
			<string>8</string>
			<key>Title</key>
			<string>胜平负</string>
		</dict>
		<dict>
			<key>ProfileID</key>
			<string>2</string>
			<key>Desc</key>
			<string>RQSPF</string>
			<key>Amount</key>
			<string>8</string>
			<key>Title</key>
			<string>让球胜平负</string>
		</dict>
		<dict>
			<key>ProfileID</key>
			<string>3</string>
			<key>Desc</key>
			<string>BF</string>
			<key>Amount</key>
			<string>4</string>
			<key>Title</key>
			<string>比分</string>
		</dict>
		<dict>
			<key>ProfileID</key>
			<string>4</string>
			<key>Desc</key>
			<string>BQC</string>
			<key>Amount</key>
			<string>4</string>
			<key>Title</key>
			<string>半全场</string>
		</dict>
		<dict>
			<key>ProfileID</key>
			<string>5</string>
			<key>Desc</key>
			<string>HHGG</string>
			<key>Amount</key>
			<string>4</string>
			<key>Title</key>
			<string>混合过关</string>
		</dict>
		<dict>
			<key>ProfileID</key>
			<string>6</string>
			<key>Desc</key>
			<string>JQS</string>
			<key>Amount</key>
			<string>6</string>
			<key>Title</key>
			<string>进球数</string>
		</dict>
	</array>
</dict>
</plist>
