<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A005</key>
	<string>CTZQPlayViewController</string>
	<key>A006</key>
	<string>CTZQPlayViewController</string>
	<key>A007</key>
	<string>PLPlayViewController</string>
	<key>A008</key>
	<string>PLPlayViewController</string>
	<key>A315</key>
	<string>CTZQWinHistoryViewController</string>
	<key>A401</key>
	<string>FaXianViewController</string>
	<key>A301</key>
	<string>GouCaiViewController</string>
	<key>A207</key>
	<string>HelpIndicatorViewController</string>
	<key>A112</key>
	<string>HistoryExploitViewController</string>
	<key>A313</key>
	<string>JCLQOpenController</string>
	<key>A002</key>
	<string>JCLQPlayController</string>
	<key>A102</key>
	<string>TuiJianZongBiaoViewController</string>
	<key>A103</key>
	<string>TuiJianZongBiaoViewController</string>
	<key>A312</key>
	<string>JingCaiWinHistoryViewController</string>
	<key>A011</key>
	<string>LotteryExtrendViewController</string>
	<key>A012</key>
	<string>LotteryExtrendViewController</string>
	<key>A003</key>
	<string>LotteryPlayViewController</string>
	<key>A001</key>
	<string>LotteryPlayViewController</string>
	<key>A004</key>
	<string>LotteryPlayViewController</string>
	<key>A311</key>
	<string>LotteryWinNumHistoryViewController</string>
	<key>A314</key>
	<string>LotteryWinNumHistoryViewController</string>
	<key>A201</key>
	<string>MemberViewController</string>
	<key>A206</key>
	<string>MyGuanZhuViewController</string>
	<key>A203</key>
	<string>MyHemaiSchemeViewController</string>
	<key>A202</key>
	<string>MyRedPacketViewController</string>
	<key>A107</key>
	<string>NotifyMessageViewController</string>
	<key>A013</key>
	<string>OddSViewController</string>
	<key>A106</key>
	<string>OmitEnquiriesViewController</string>
	<key>A209</key>
	<string>OpinionViewController</string>
	<key>A204</key>
	<string>OrderInfoViewController</string>
	<key>A014</key>
	<string>PLBuyViewController</string>
	<key>A211</key>
	<string>SettingsViewController</string>
	<key>A104</key>
	<string>ShakeViewController</string>
	<key>A015</key>
	<string>WBHomeJCYCViewController</string>
	<key>A016</key>
	<string>YuCeSchemeCreateViewController</string>
	<key>A118</key>
	<string>WBHomeJCYCViewController</string>
	<key>A119</key>
	<string>WBHomeJCYCViewController</string>
	<key>A120</key>
	<string>YuCeLiShiZhanJViewController</string>
	<key>A208</key>
	<string>SystemSettingsViewController</string>
	<key>A101</key>
	<string>TogetherBuyFollerViewController</string>
	<key>A111</key>
	<string>TogetherGuanZhuViewController</string>
	<key>A117</key>
	<string>TogtherBuyDetailViewController</string>
	<key>A113</key>
	<string>TopRedMenViewController</string>
	<key>A114</key>
	<string>TopRedMenViewController</string>
	<key>A115</key>
	<string>TopRedMenViewController</string>
	<key>A116</key>
	<string>TopRedMenViewController</string>
	<key>A105</key>
	<string>UserChongZhiViewController</string>
	<key>A210</key>
	<string>VersionViewController</string>
	<key>A108</key>
	<string>WBBifenZhiboViewController</string>
	<key>A205</key>
	<string>ZhuiHaoInfoViewController</string>
	<key>A109</key>
	<string>ZhuiHaoViewController</string>
</dict>
</plist>
