<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A120</key>
	<string>0</string>
	<key>A000</key>
	<string>0</string>
	<key>A001</key>
	<string>0</string>
	<key>A015</key>
	<string>0</string>
	<key>A016</key>
	<string>0</string>
	<key>A017</key>
	<string>0</string>
	<key>A105</key>
	<string>1</string>
	<key>A107</key>
	<string>1</string>
	<key>A108</key>
	<string>0</string>
	<key>A119</key>
	<string>0</string>
	<key>A201</key>
	<string>0</string>
	<key>A202</key>
	<string>1</string>
	<key>A204</key>
	<string>1</string>
	<key>A207</key>
	<string>0</string>
	<key>A208</key>
	<string>0</string>
	<key>A209</key>
	<string>1</string>
	<key>A210</key>
	<string>0</string>
	<key>A211</key>
	<string>1</string>
	<key>A212</key>
	<string>1</string>
	<key>A313</key>
	<string>1</string>
	<key>A315</key>
	<string>1</string>
	<key>A316</key>
	<string>1</string>
	<key>A401</key>
	<string>0</string>
	<key>A402</key>
	<string>0</string>
	<key>A403</key>
	<string>1</string>
</dict>
</plist>
