<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>A120</key>
	<string>YuCeLiShiZhanJViewController</string>
	<key>A000</key>
	<string>BuyLotteryViewController</string>
	<key>A001</key>
	<string>JCZQPlayViewController</string>
	<key>A015</key>
	<string>ForecastViewController</string>
	<key>A016</key>
	<string>YuCeSchemeCreateViewController</string>
	<key>A017</key>
	<string>NewsViewController</string>
	<key>A105</key>
	<string>TopUpsViewController</string>
	<key>A107</key>
	<string>NoticeCenterViewController</string>
	<key>A108</key>
	<string>WBBifenZhiboViewController</string>
	<key>A119</key>
	<string>WBHomeJCYCViewController</string>
	<key>A201</key>
	<string>MineViewController</string>
	<key>A202</key>
	<string>MyRedPacketViewController</string>
	<key>A204</key>
	<string>MyOrderListViewController</string>
	<key>A207</key>
	<string>MyHelpViewController</string>
	<key>A208</key>
	<string>SystemSetViewController</string>
	<key>A209</key>
	<string>FeedbackViewController</string>
	<key>A210</key>
	<string>AboutViewController</string>
	<key>A211</key>
	<string>PersonnalCenterViewController</string>
	<key>A212</key>
	<string>MyFavoriteViewController</string>
	<key>A313</key>
	<string>IntegralMallViewController</string>
	<key>A315</key>
	<string>ShareViewController</string>
	<key>A316</key>
	<string>MyCouponViewController</string>
	<key>A401</key>
	<string>DiscoverViewController</string>
	<key>A402</key>
	<string>GroupViewController</string>
	<key>A403</key>
	<string>DiscoverViewController</string>
	<key>A004</key>
	<string>DLTPlayViewController</string>
	<key>A005</key>
	<string>CTZQPlayViewController</string>
	<key>A006</key>
	<string>CTZQPlayViewController</string>
	<key>A009</key>
	<string>GYJPlayViewController</string>
	<key>A007</key>
	<string>SSQPlayViewController</string>
</dict>
</plist>
