<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Name</key>
		<string>竞彩足球玩法</string>
		<key>controller</key>
		<string>FootBallPlayViewController</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>竞彩篮球玩法</string>
		<key>html</key>
		<string>jingcailanqiu</string>
		<key>title</key>
		<string>竞彩篮球玩法</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>胜负彩玩法</string>
		<key>tabs</key>
		<array>
			<dict>
				<key>title</key>
				<string>任选9场</string>
				<key>fileName</key>
				<string>ctzq_renxuanjiuchang</string>
			</dict>
			<dict>
				<key>title</key>
				<string>胜负14场</string>
				<key>fileName</key>
				<string>ctzq_shengfushisichang</string>
			</dict>
		</array>
		<key>title</key>
		<string>胜负彩玩法</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>大乐透</string>
		<key>Type</key>
		<string>1000</string>
		<key>tabs</key>
		<array>
			<dict>
				<key>title</key>
				<string>简介</string>
				<key>fileName</key>
				<string>daletou_intro</string>
			</dict>
			<dict>
				<key>title</key>
				<string>玩法</string>
				<key>fileName</key>
				<string>daletou_howto</string>
			</dict>
			<dict>
				<key>title</key>
				<string>奖项</string>
				<key>fileName</key>
				<string>daletou_bonus</string>
			</dict>
			<dict>
				<key>title</key>
				<string>规则</string>
				<key>fileName</key>
				<string>daletou_rule</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>双色球玩法</string>
		<key>title</key>
		<string>双色球玩法玩法规则</string>
		<key>html</key>
		<string>ssq_play</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>陕西11选5</string>
		<key>icon</key>
		<string>11xuan5.png</string>
		<key>Type</key>
		<string>4</string>
		<key>tabs</key>
		<array>
			<dict>
				<key>title</key>
				<string>简介</string>
				<key>fileName</key>
				<string>11xuan5_intro</string>
			</dict>
			<dict>
				<key>title</key>
				<string>玩法</string>
				<key>fileName</key>
				<string>11xuan5_howto</string>
			</dict>
			<dict>
				<key>title</key>
				<string>奖项</string>
				<key>fileName</key>
				<string>11xuan5_bonus</string>
			</dict>
			<dict>
				<key>title</key>
				<string>规则</string>
				<key>fileName</key>
				<string>11xuan5_rule</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>山东11选5</string>
		<key>icon</key>
		<string>11xuan5.png</string>
		<key>Type</key>
		<string>14</string>
		<key>tabs</key>
		<array>
			<dict>
				<key>title</key>
				<string>简介</string>
				<key>fileName</key>
				<string>sdjianjie</string>
			</dict>
			<dict>
				<key>title</key>
				<string>玩法</string>
				<key>fileName</key>
				<string>sdwanfa</string>
			</dict>
			<dict>
				<key>title</key>
				<string>奖项</string>
				<key>fileName</key>
				<string>sdjiangxiang</string>
			</dict>
			<dict>
				<key>title</key>
				<string>规则</string>
				<key>fileName</key>
				<string>sdguize</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>Name</key>
		<string>跟单玩法</string>
		<key>title</key>
		<string>跟单玩法规则</string>
		<key>html</key>
		<string>about_follow</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>获取积分</string>
		<key>controller</key>
		<string>GetIntegralViewController</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>积分兑换</string>
		<key>controller</key>
		<string>IntegeralChangeViewController</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>功能指南</string>
		<key>controller</key>
		<string>FunctionsViewController</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>优惠券指南</string>
		<key>controller</key>
		<string>CouponGuidViewController</string>
	</dict>
	<dict>
		<key>Name</key>
		<string>常见问题</string>
		<key>controller</key>
		<string>QuestionsViewController</string>
	</dict>
</array>
</plist>
